<h1>Add a tool to the database</h1>
<div class="createform">
  <form action="/tools/detail/add" method="POST" enctype="multipart/form-data" class="edit">
    <label>
      Name:
      <input type="text" name="toolName" maxlength="35" required/>
    </label>
    <label>
      Description:
      <textarea type="text" name="description" style="width: 50%;" required></textarea>
    </label>
    <label>
      Download link:
      <input type="text" name="downloadLink">
    </label>
    <label> Categories</label>
        <select name="category" multiple required>
            <option value="general" selected>General</option>
            <option value="cloud">Cloud</option>
            <option value="graphic">Graphic</option>
            <option value="assets">Assets</option>
            <option value="editor">Editor</option>
            <option value="bugs">Bugs</option> 
        </select>   
    <label>
      Upload image:
      <input type="file" name="tool-img">
      <p>
        <button type="submit">Create</button>
      </p>
    </label>  
  </form>
</div>



  <% if (typeof errorMessage !== "undefined") { %> <%= errorMessage %> <% } %>