
<img src="" alt="Nice logo">
<p>Welcome to the Web Developer Tool Database!</p>

<h2>All tools</h2>
<ul>
    <% data.forEach( tool => { %>
        <p><%= tool.toolName %> </p>
        <button><a href="../tools/detail/<%= tool._id %>">Show details</a></button>
    <% }) %> 
</ul>
