<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <nav class="nav-bar">
    <img src="/images/logo-trans.png" alt="Logo" id="logo"/>
    <form id="search-form" action="/search/" method="post">
      <input type="text" placeholder=" Search...." name="search" />
      <button type="submit" class="search-glass"><i class="fa fa-search"></i></button>
    </form>

    <button><a href="/">Home</a></button>
    <button><a href="/user">Profile</a></button>
    <button><a href="/auth/login">Login</a></button>
    <button><a href="/auth/signup">Signup</a></button>
    <button><a href="/auth/logout">Log Out</a></button>
  </nav>
  <body>
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
